  
.jumbotron {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 250px;
    color: white;
    background-color: green;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;

}